
* {
    margin: 0;
    padding: 0;
}
:root {
    filter: invert(80%);
}
body {
    background: rgb(255, 255, 255);
}
.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1 0 calc(33.333% - 20px);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    color: snow;
}
.numbers {
    color: red;
    display: flex;
    justify-content:center;
    position: relative;
    text-align: center;
    flex-direction: column;
}